
@model MVCBASIC.Models.StudentDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
</head>
<body>
    <div>
        @{
        var MyList = new List<SelectListItem>()
{
new SelectListItem(){Value="1", Text ="India"},
new SelectListItem(){Value="2", Text = "USA"},
new SelectListItem(){Value="3", Text = "UK"}
};
        }
        @using (Html.BeginForm("StudentDetails", "Person", FormMethod.Post))
    {
        <h1>@Html.Label("STUDENT DETAILS")</h1>

        <table >
            <tr>
                <td>@Html.LabelFor(s => s.FirstName)</td>
                <td>@Html.TextBoxFor(s => s.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.LastName)</td>
                <td>@Html.TextBoxFor(s => s.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Country)</td>
                <td>@Html.DropDownListFor(s => s.Country, MyList)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.States)</td>
                <td>@Html.ListBoxFor(s => s.States, new MultiSelectList(new[] { "MO", "NJ", "NY", "BO" }))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Gender)</td>
                <td>
                    Male  @Html.RadioButtonFor(s => s.Gender, "Male")
                    Female @Html.RadioButtonFor(s => s.Gender, "Female")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Student :@Html.CheckBoxFor(s => s.Student)<br />Working :@Html.CheckBoxFor(s => s.working)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Address)</td>
                <td>@Html.TextAreaFor(s => s.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.DoB)</td>
                <td>@Html.EditorFor(s => s.DoB)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(s => s.Age)</td>
                <td>@Html.EditorFor(s => s.Age)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>

        <h1>@Html.Label("Display Data")</h1>

            if(Model!= null)
            {
        <table>
            <tr>
                <td>FirstName :</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>LastName :</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Country :</td>
                <td>@Model.Country</td>
            </tr>
            <tr>
                <td>States :</td>
                <td>@Model.States</td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Student :</td>
                <td>@Model.Student</td>
            </tr>
            <tr>
                <td>Working :</td>
                <td>@Model.working</td>
            </tr>
            <tr>
                <td>Address :</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>@Model.DoB</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Model.Age</td>
            </tr>

        </table>
            }
        }
    </div>
</body>
</html>
